html,
body {
	height: 100%;
}
.wrapper {
	position: relative;
	min-height: 100%;
}

.content {
	padding-bottom: 20px;
}

.get-news-link {
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.hidden {
	display: none;
}

.powered-by {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: center;
}

a.powered-by {
	text-decoration: none;
}

