<div class="article-details">
	<form name="articleFrom" novalidate>
		<ul class="form-controls-wrapper">
			<li>
				<input type="text" name="title" class="form-control" ng-model="article.title" placeholder="Title" required/>
			</li>
			<li>
				<input type="text" name="author" class="form-control" ng-model="article.author" placeholder="Author"/>
			</li>
			<li>
				<textarea type="text" name="description" class="form-control" max-length-validator ng-model="article.description" placeholder="Description" required></textarea>
			</li>
			<li>
				<input type="text" name="tags" class="form-control" ng-model="article.tags" placeholder="Tags"/>
			</li>
		</ul>
		<input type="submit" id="edit-button" ng-disabled="articleFrom.$invalid" ng-click="submitForm()" class="form-control btn" value="Submit"/>
		<a ui-sref='home'>Cancel</a>
	</form>
</div>
